.container {
  width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 15% 60% 10%;
  gap: 0.75rem;
  padding: 1rem;
}

.c1 {
  background: white;
  grid-column: 1 / span 4;
}
.c2 {
  background: white;
  grid-column: 1 / span 4;
}
.c3 {
  background: white;
  grid-column: 1 / span 1;
}
.c4 {
  background: white;
  grid-column: 2 / span 3;
}
.c5 {
  background: white;
  grid-column: 1 / span 2;
}
.c6 {
  background: white;
  grid-column: 3 / span 2;
}
