.route_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-color);
  font-size: 0.75rem;
}

.route {
  font-weight: bold;
  color: var(--secondary-color);
}

.click {
  font-size: 1rem;
  font-weight: 800;
}
