.container {
  flex-basis: 1/4;
  width: 25%;
  background: white;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading {
  font-size: 0.75rem;
  font-weight: bold;
}
.amount {
  display: inline-block;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
.percentage {
  padding: 0.1rem;
  display: inline;
  color: #0fdd0f;
  background: #dbffa5;
  margin-left: 0.5em;
}
.logo {
  padding: 0.5rem;
  font-size: 2rem;
  color: white;
  background: var(--icon-color);
  border-radius: 50%;
}
