.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  padding: 1rem 0;
  border-bottom: var(--border-color) solid 1px;
}

.icon {
  font-size: 3.5rem;
  padding: 0.5rem 0;
}

.username {
  margin: 0;
  /* padding: 0.25rem 0; */
  color: black;
}

.tier {
  margin: 0;
  font-weight: 600;
}

.tier span {
  color: var(--primary-color);
}
