.container {
  margin: 0;
  background-color: #3340fa;
  padding: 0 20px;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.logo {
  display: inline;
  padding-top: 0.5rem;
}

.icon {
  font-size: 2rem;
  color: #ccc;
  text-align: center;
}
.nav_list {
  padding-top: 0.5rem;
}

ul {
  margin: 0;
}

.icons {
  font-size: 1.5rem;
  padding: 0 10px;
  color: #ccc;
}

.icons:hover {
  color: #bababa;
}

.list {
  display: inline;
}

.link {
  text-decoration: dashed;
  display: inline-flex;
  align-items: center;
}

.email {
  text-align: center;
  display: inline;
  color: #ccc;
  font-weight: 400;
}
