@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #3340fa;
  --secondary-color: #979797;
  --border-color: #a7a7a7;
  --shadow: 5px 5px 10px #a7a7a7;
  --icon-color: #4734fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", monospace;
  font-size: 1rem;
  background: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}
